body {
  font-size: 1.2em;
  margin: 8% 5%;
}
h1 {
  font-size: 1.8em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0 0 30px 0;
}

@media (min-width: 800px) {
  body {
    background-color: antiquewhite;
    font-size: 1.4rem;
    margin: 4% 3%;
  }

  figure {
    float: left;
    width: 45%;
    margin: 1% 5% 3% 0;
  }
}
