html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  font-size: 1.3rem;
  background-color: rgb(204, 181, 211);
  padding: 3px;
  text-align: center;
}

header p {
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

header nav {
  display: none;
}
