* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(167, 132, 120);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.header h1 {
  color: rgb(247, 242, 242);
}

.main {
  margin: 0 auto;
  max-width: fit-content;
}

.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 1em;
  border: 4px ridge rgb(207, 206, 206);
  padding: 1em;
  max-width: 40em;
  background-color: rgb(231, 229, 229);
}

.card h2 {
  margin-bottom: 0.5em;
}

.card p {
  font-size: large;
}

.footer {
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
}

@media (min-width: 1000px) {
  .header {
    padding: 2.5rem;
  }
  
  .header h1 {
    font-size: 2.5rem;
  }

  .main {
    max-width: none;
  }
  
  .content {
    padding: 2.5em;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    border: 6px ridge rgb(207, 206, 206);
    padding: 1.6em;
    min-width: 38em;
    max-width: 50em;
    margin: 1.5em 1.5em;
  }
  
  .card h2 {
    margin-bottom: 0.8em;
    font-size: 1.6em;
  }
  
  .card p {
    font-size: 1.3em;
  }
  
  .footer {
    padding: 2em;
    margin-right: 2em;
  }
}
